@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

/* benefits of float: left; 
  see: https://stackoverflow.com/questions/29309002/sum-of-elements-width-is-100-but-the-last-element-goes-to-next-line*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin: 0 auto;
    background: #DFDFDF;
    position: relative;
    max-width: 425px;
    height: 100vh;
}

body {
    background-image: linear-gradient(to bottom, #f94c24, 90%, #EE3506);
    padding-top: 80px;
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
}


/* header styling */

header {
    width: 100%;
    height: 80px;
    padding: 15px;
    /*float: left;*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    background-image: linear-gradient(to right, #f42a4f, #f01669);
    box-shadow: 0 2px 4px rgba(254, 129, 18, 0.15);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

header input {
    width: 100%;
    height: 50px;
    /* padding for the button that will be added*/
    padding-right: 60px;
    font-size: 15px;
    font-weight: 500;
    color: #FFF;
    /* better than using padding-left when the input field overflows*/
    text-indent: 18px;
    background: rgba(0, 0, 0, 0.1);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    /* remove default styling */
    border: 0;
    box-shadow: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

header input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.75);
}

header input::-moz-input-placeholder {
    color: rgba(255, 255, 255, 0.75);
}

header input:-moz-input-placeholder {
    color: rgba(255, 255, 255, 0.75);
}

header input::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.75);
}

header button {
    width: 48px;
    height: 48px;
    position: absolute;
    font-weight: bold;
    top: 16px;
    right: 16px;
    z-index: 2;
    /*calc (48px/2)*/
    border-radius: 24px;
    background: rgba(255, 255, 255, 0.8);
    transition: 0.15s all ease;
    /* remove default styling */
    border: 0;
    box-shadow: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

header button i {
    color: #f01669;
}

header button:hover {
    background: rgba(255, 255, 255, 0.9);
}


/* to do list */

.container {
    width: 100%;
    /*float: left;*/
    padding: 15px;
}

ul.todo {
    width: 100%;
    /*float: left;*/
}

ul.todo li {
    list-style-type: none;
    color: #f01669;
    width: 100%;
    /*float: left;*/
    min-height: 50px;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    /* (50 - 22)/2 */
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 10px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.75));
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
    padding-right: 100px;
    overflow-wrap: break-word;
    -webkit-transition: 0.3s all smooth;
    -moz-transition: 0.3s all smooth;
    -o-transition: 0.3s all smooth;
    transition: 0.3s all smooth;
}

ul.todo li:last-of-type {
    margin-bottom: 0;
}

ul.todo li .buttons {
    width: 150px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: flex;
    align-items: center;
}

ul.todo li .buttons button {
    width: 50px;
    height: 100%;
    color: rgba(60, 60, 60, 0.7);
    /*float: left;*/
    background: none;
    position: relative;
    transition: 0.15s all ease;
    border: 0;
    box-shadow: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

ul.todo li .buttons button:last-of-type {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

ul.todo li .buttons button i[title='edit'] {
    display: none;
}


/*ul.todo li .buttons button:first-of-type::before {
	content: '';
	width: 1px;
	height: 70%;
	position: absolute;
	top: 15%;
	right: 0;
	background: rgba(60,60,60,0.5);
}*/

ul.todo li .buttons button:hover {
    color: #fff;
}

ul.todo li .buttons button:last-of-type:hover {
    background-image: linear-gradient(to right, #f42a4f, 30%, #f01669);
}


/* completed styling */

ul.todo li .buttons.completed {
    width: 100px;
}

ul.todo li.completed {
    background: rgba(255, 255, 255, 0.4);
}

ul.todo li .buttons.completed button:last-of-type {
    background-image: linear-gradient(to right, #f42a4f, 30%, #f01669);
}

ul.todo li .buttons.completed button:last-of-type:hover {
    color: #fff;
}

ul li.completed:first-of-type {
    margin-top: 40px;
    position: relative;
}

ul li.completed:first-of-type::before {
    content: '';
    width: 80%;
    left: 10%;
    height: 2px;
    position: absolute;
    top: -20px;
    background-color: rgba(255, 255, 255, 0.4);
}


/*edit button styling*/

ul.todo li input {
    background: transparent;
    width: 100%;
    height: 22px;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    font-family: 'Roboto', sans-serif;
    border: 0;
    box-shadow: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
}


/* Code By Webdevtrick ( https://webdevtrick.com ) 

@import url("https://fonts.googleapis.com/css?family=Raleway:300,800");
body {
    background-color: #53a8e6;
}

body h1 {
    text-align: center;
    font-family: "Raleway", sans-serif;
    color: white;
    font-size: 50px;
    font-weight: normal;
}

body .list {
    position: relative;
    width: 70%;
    margin: 0px auto;
    display: block;
}

body .list ::-webkit-input-placeholder {
    color: #cecece;
}

body .list .input {
    outline: none;
    border: 2px solid white;
    background-color: #53a8e6;
    color: white;
    height: 50px;
    width: 100%;
    padding-left: 10px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 56px;
    margin-left: -5px;
}

body .list span {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 56px;
    font-weight: 800;
    line-height: 1.8;
    cursor: pointer;
    transition: all 200ms;
    color: white;
    will-change: transform;
}

body .list span:hover {
    transform: rotate(180deg);
}

body ul {
    padding: 0px;
}

body ul .draggable {
    will-change: transform;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    height: 60px;
    list-style-type: none;
    margin: 10px;
    background-color: white;
    color: #212121;
    width: 70px;
    line-height: 3.2;
    padding-left: 10px;
    cursor: move;
    transition: all 200ms;
    user-select: none;
    margin: 10px auto;
    position: relative;
}

body ul .draggable:after {
    content: 'drag me';
    right: 7px;
    font-size: 10px;
    position: absolute;
    cursor: pointer;
    line-height: 5;
    transition: all 200ms;
    transition-timing-function: cubic-bezier(0.48, 0.72, 0.62, 1.5);
    transform: translateX(120%);
    opacity: 0;
}

body ul .draggable:hover:after {
    opacity: 1;
    transform: translate(0);
}

.over {
    transform: scale(1.1, 1.1);
}*/